@model SacramentPlanner.Models.Speaker

@{
    ViewData["Title"] = "Details";
}

<h1 class="mt-5">Speaker Details</h1>


<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingID)
        </dt>
        <dd class="col-sm-10">
             @ViewBag.MeetingDate
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeakerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpeakerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpeakerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
