@model IEnumerable<SacramentPlanner.Models.Speaker>

@{
    ViewData["Title"] = "Speakers Archive";
}

<h1 class="mt-5">Speakers Archive</h1>

<p>
    <a class="btn btn-sm btn-outline-primary" asp-action="Create">Create New</a>
</p>




<table class="table table-striped" id="speakers-list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        foreach (Meeting meeting in ViewBag.Meetings)
                        {
                            if (meeting.MeetingID == item.MeetingID)
                            {
                                @meeting.MeetingDate.ToString("d MMMM yyyy")
                            }
                            

                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeakerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.SpeakerID">Edit</a> 
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.SpeakerID">Details</a> 
                    <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.SpeakerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
